.sidebar {
  width: 250px;
  background-color: #4c0013;
  color: #e5e7eb;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #374151;
  flex-shrink: 0;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  /* NOVO: Para Firefox */
  scrollbar-width: thin;
  scrollbar-color: #ffffff #4c0013;
}

.navHeading {
  padding: 1.5rem 1rem 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #8b94a3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.navLink, .activeLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.9rem 1rem;
  text-decoration: none;
  color: #d1d5db;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s, color 0.2s;
}

.navLink[href], .activeLink[href] {
  cursor: pointer;
}

.navLink:hover {
  background-color: #830021;
  color: #ffffff;
}

.activeLink {
  background-color: #830021;
  color: #ffffff;
  font-weight: 600;
}

.submenu {
  list-style: none;
  padding-left: 2.5rem; 
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.subNavLink, .activeSubLink {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: #9ca3af;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s;
  font-size: 0.9em;
}

.subNavLink:hover {
  background-color: #830021;
  color: #ffffff;
}

.activeSubLink {
  color: #ffffff;
  font-weight: 500;
}

/* NOVO: Estilização da Barra de Rolagem */
.navList::-webkit-scrollbar {
  width: 10px;
}

.navList::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 10px;
}

.navList::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
  border: 2px solid #111827;
}

.navList::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

.sidebarHeader {
  display: flex;
  justify-content: center; /* Centraliza a logo */
  align-items: center;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Separador sutil */
  margin-bottom: 1.5rem; /* Espaço abaixo da logo */
}

.logo {
  max-width: 230px; /* Ajuste o tamanho conforme preferir */
  height: auto;
  border-radius: 2px; /* Borda arredondada para um visual mais suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}